In [18]:
## Import Libraries
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..')))
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np 
from pandas.api.types import is_string_dtype, is_numeric_dtype
%matplotlib inline

In [19]:
CSV_PATH = "../data/processed.csv"

In [20]:
# taking a csv file path and reading a dataframe

def read_proccessed_data(csv_path):
    try:    
        df = pd.read_csv(csv_path)
        print("file read as csv")
        return df
    except FileNotFoundError:
        print("file not found")

In [21]:
## getting number of columns, row and column information
def get_data_info(Ilog_df: pd.DataFrame):
    
    row_count, col_count = Ilog_df.shape
    
    print(f"Number of rows: {row_count}")
    print(f"Number of columns: {col_count}")

    return Ilog_df.info()

In [22]:
## basic statistics of each column and see the data at glance
def get_statistics_info(Ilog_df: pd.DataFrame):
    
    return Ilog_df.describe(include='all')

In [23]:
# reading the extracted impression_log data and getting information
Ilog_df = read_proccessed_data(CSV_PATH)
get_data_info(Ilog_df)

get_statistics_info(Ilog_df)
Ilog_df.head()

file read as csv
Number of rows: 99999
Number of columns: 24
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          99999 non-null  object
 1   LogEntryTime        99999 non-null  object
 2   AdvertiserId        99999 non-null  object
 3   CampaignId          99999 non-null  object
 4   AdGroupId           99999 non-null  object
 5   AudienceID          99999 non-null  object
 6   CreativeId          99999 non-null  object
 7   AdFormat            99999 non-null  object
 8   Frequency           99999 non-null  int64
 9   Site                99999 non-null  object
 10  FoldPosition        99999 non-null  int64
 11  Country             99999 non-null  object
 12  Region              99999 non-null  object
 13  City                99999 non-null  object
 14  DeviceType          99999 non-null  int64
 15  OSFamily            99999 non-null  float64
 16  OS                  99999 non-null  float64
 17  Browser             99999 non-null  float64
 18  DeviceMake          99999 non-null  object
 19  AdvertiserCurrency  99999 non-null  float64
 20  click               99999 non-null  int64
 21  engagement          99999 non-null  int64
 22  video-end           99999 non-null  int64
 23  video-start         99999 non-null  int64
dtypes: float64(4), int64(7), object(13)
memory usage: 18.3+ MB

,Unnamed: 0,LogEntryTime,AdvertiserId,CampaignId,AdGroupId,AudienceID,CreativeId,AdFormat,Frequency,Site,...,DeviceType,OSFamily,OS,Browser,DeviceMake,AdvertiserCurrency,click,engagement,video-end,video-start
0,00006a06-14e2-47d9-b999-fbeeac67dd2b,2021-09-25 00:22:37,868ko1s,t29si1w,e9qf2dm,0,9wkrkl5j,300x250,0,scrabblewordfinder.org,...,4,5.0,173.0,7.0,Apple,0.006409,0,0,0,0
1,00007898-29c9-43f1-82e5-43c5a856d0f4,2021-09-25 02:31:35,868ko1s,fiwemi8,8m750eh,0,zhre4utp,300x250,0,www.thecoli.com,...,4,5.0,173.0,7.0,Apple,0.002778,0,0,0,0
2,0000d06f-5239-4123-af41-bd1c0e0e8d48,2021-09-25 20:12:52,868ko1s,awbu4q4,oropida,lnqjhqm,ab6spdyi,300x250,0,www.today.com,...,4,6.0,156.0,6.0,Samsung,0.008947,0,0,0,0
3,0000d623-aaf1-4be8-81f7-eb6c96b30aee,2021-09-22 16:04:12,868ko1s,t29si1w,e9qf2dm,0,2spj6krt,300x250,0,www.cbssports.com,...,4,5.0,101.0,7.0,Apple,0.007673,0,0,0,0
4,0000e836-9778-4ea9-b686-9e7bf26f90bd,2021-09-22 14:33:59,868ko1s,awbu4q4,oropida,lnqjhqm,ql1q5nq9,300x250,0,backroadramblers.com,...,4,5.0,101.0,7.0,Apple,0.008852,0,1,1,1

### Distinct value counts/frequencies of each column to determine if there are any columns with only a single value/all different values

In [24]:
pd.DataFrame(Ilog_df.apply(lambda x: len(x.value_counts(dropna=False)), axis=0), 
columns=['Unique Value Count']).sort_values(by='Unique Value Count', ascending=True)

                    Unique Value Count
Country                              1
AdvertiserId                         1
Frequency                            1
engagement                           2
click                                2
video-end                            2
AdFormat                             2
video-start                          2
FoldPosition                         3
DeviceType                           3
AudienceID                           6
OSFamily                             6
Browser                              8
Region                              11
CampaignId                          13
AdGroupId                           25
OS                                  49
DeviceMake                         130
CreativeId                         282
City                              1295
Site                              8538
AdvertiserCurrency               55156
LogEntryTime                     89751
Unnamed: 0                       99986

In [26]:
df_groupby_CampaignId=Ilog_df.groupby('CampaignId')

In [27]:
df_groupby_CampaignId.ngroups

13

In [29]:
df_groupby_CampaignId.size()

CampaignId
0k2sw7w      192
5qtwg2a      555
758ifo0     3331
8muucqy     5203
9n6o7jf     5336
awbu4q4    25819
dnpjc6c     7297
fiwemi8     1563
shg01yl     4799
t29si1w    34812
v0fbymt     1800
xygdmea     8577
z5cjizq      715
dtype: int64

In [57]:
campaign1 = Ilog_df[Ilog_df['CampaignId'] == 'awbu4q4']

In [58]:
pd.DataFrame(campaign1.apply(lambda x: len(x.value_counts(dropna=False)), axis=0), 
columns=['Unique Value Count']).sort_values(by='Unique Value Count', ascending=True)

                    Unique Value Count
Country                              1
AdvertiserId                         1
CampaignId                           1
AdGroupId                            1
AudienceID                           1
AdFormat                             1
Frequency                            1
engagement                           2
click                                2
video-end                            2
video-start                          2
DeviceType                           3
FoldPosition                         3
Region                               5
OSFamily                             6
Browser                              8
CreativeId                          23
OS                                  47
DeviceMake                          91
City                               622
Site                              3488
AdvertiserCurrency               18017
LogEntryTime                     24719
Unnamed: 0                       25819

In [43]:
campaign1_groupby_site=campaign1.groupby('Site')

In [55]:
campaign1_groupby_site.size()

Site
247sports.com             1
arealnews.com             1
blackdoctor.org           1
comicbook.com             2
dailyvoice.com            2
                         ..
www.whowhatwear.co.uk     1
www.whowhatwear.com       1
www.windowscentral.com    6
www.wral.com              1
www.zmescience.com        1
Length: 77, dtype: int64

In [64]:
df1=campaign1.groupby('Site').agg({'CampaignId': 'count', 'engagement': 'sum'})
df1.reset_index(inplace=True)
df1['engRate']=df1['engagement']/df1['CampaignId'] 
df1.sort_values(by='engRate', ascending=False, inplace=True)
df1

                         Site  CampaignId  engagement  engRate
2335      www.gainesville.com           1           1      1.0
1257        redhousespice.com           1           1      1.0
2346    www.gastongazette.com           1           1      1.0
1796  weddings.lovetoknow.com           1           1      1.0
294      cookingwithcurls.com           1           1      1.0
...                       ...         ...         ...      ...
1403         sousvideways.com           1           0      0.0
1405       southern-bytes.com           1           0      0.0
1406         southernbite.com           6           0      0.0
1407   southernfoodandfun.com           1           0      0.0
1744       unsophisticook.com           2           0      0.0

[3488 rows x 4 columns]